<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieExplorer</title>
    <link rel="stylesheet" href="../static/CSS/style.css" />
  </head>
  <body>
 <!-- Navigation bar-->
 <nav class="navbar">
  <div class="navbar_container">
    <a href="#home" id="navbar_logo">MoX - Movie Explorer</a>
    <div class="navbar_toggle" id="mobile-menu">  <!-- cele 3 liniute care apar pe telefon la nav -->
      <span class="bar"></span> 
      <span class="bar"></span> 
      <span class="bar"></span>
    </div>
    <ul class="navbar_menu">
      <li class="navbar_item">
        <a href="#home" class="navbar_links" id="home-page">Home</a>
      </li>
      <li class="navbar_item">
        <a href="#movies" class="navbar_links" id="movies-page">Movies</a>
      </li>
      <li class="navbar_item">
        <a href="#tv-shows" class="navbar_links" id="tv-shows-page"
          >Tv Shows</a
        >
      </li>
      <li class="navbar_item">
         <form  id="form">
        <input type="text" placeholder="Search" id="search" class="search">
       </form>
      </li>
    </ul>
  </div>
</nav>

  <!-- Home -->
  <div class="home" id="home">
    <div class="home_container">
      <h1 class="home_heading">Don't know what to watch?</h1>
      <h2 class="home_heading">We got you.</h2>
      <div>
        <button class="button"><a href="#movies">Explore</a></button>
        <button class="button"><a href="login.html#form2">Log In</a></button>
      </div>
    </div>
  </div>

  <!-- Movies Section -->
  <div class="movies" id="movies">
    <h1>Movies</h1>
    <div class="movies_section">
    </div>
     <button class="button"><a href=selection.html#select>See more</a></button> 
  </div>

 <!--TV Shows Section -->
 <div class="tv-shows" id="tv-shows">
  <h1>TV Shows</h1>
  <div class="tv-shows_section">
  </div>
  <button class="button"><a href=selection.html#select>See more</a></button>
</div>

    <footer>
      <p>&copy; 2023 Movies Site</p>
    </footer>

    <script src="../static/JAVASCRIPT/mobile_animation.js"></script>
    <script src="../static/JAVASCRIPT/mainPageList.js"></script>
  </body>
</html>
