<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="../static/CSS/style.css">
      <title>Login</title>
      <link rel="stylesheet" href="../static/CSS/style_login.css">
   </head>
   <body>
 <!-- Navigation bar-->
 <nav class="navbar">
   <div class="navbar_container">
     <a href="index.html#home" id="navbar_logo">MoX - Movie Explorer</a>
     <div class="navbar_toggle" id="mobile-menu">  
       <span class="bar"></span> 
       <span class="bar"></span> 
       <span class="bar"></span>
     </div>
     <ul class="navbar_menu">
       <li class="navbar_item">
         <a href="index.html#home" class="navbar_links" id="home-page">Home</a>
       </li>
       <li class="navbar_item">
         <a href="index.html#movies" class="navbar_links" id="movies-page">Movies</a>
       </li>
       <li class="navbar_item">
         <a href="index.html#tv-shows" class="navbar_links" id="tv-shows-page">Tv Shows</a>
       </li>
       <li class="navbar_item">
         <a href="statistics.html" class="navbar_links" id="statistics-page">Statistics</a>
       </li>
       <li class="navbar_item">
         <a href="myAccount.html" class="navbar_links" id="account-page" >My Account</a>
       </li>
       <li class="navbar_item">
          <form  id="form">
         <input type="text" placeholder="Search" id="search" class="search">
        </form>
       </li>
     </ul>
   </div>
  </nav>

      <form class="loginForm" id="loginForm" action="/" method="POST">
         <h3>Login Here</h3>
         <input type="text" class="input-box" id="username" placeholder="Username" required />
         <input type="password" class="input-box" id="password" placeholder="Password" required />
         <button class="buttons" type="submit">Log In</button>
         <p>Don't have an account?</p>
         <p><a href="register.html">Sign up here!</a></p>
      </form>
      <script src="../static/JAVASCRIPT/mobile_animation.js"></script>
      <script src="../static/JAVASCRIPT/login.js"></script>

   </body>
</html>