<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieExplorer</title>
    <link rel="stylesheet" href="../static/CSS/style.css" />
  </head>
  <body>
 <!-- Navigation bar-->
 <nav class="navbar">
  <div class="navbar_container">
    <a href="index.html#home" id="navbar_logo">MoX - Movie Explorer</a>
    <div class="navbar_toggle" id="mobile-menu">  <!-- cele 3 liniute care apar pe telefon la nav -->
      <span class="bar"></span> 
      <span class="bar"></span> 
      <span class="bar"></span>
    </div>
    <ul class="navbar_menu">
        <li class="navbar_item">
          <a href="index.html#home" class="navbar_links" id="home-page">Home</a>
        </li>
        <li class="navbar_item">
          <a href="index.html#movies" class="navbar_links" id="movies-page">Movies</a>
        </li>
        <li class="navbar_item">
          <a href="index.html#tv-shows" class="navbar_links" id="tv-shows-page">Tv Shows</a>
        </li>
        <li class="navbar_item">
          <a href="statistics.html" class="navbar_links" id="statistics-page">Statistics</a>
        </li>
        <li class="navbar_item">
          <a href="myAccount.html" class="navbar_links" id="account-page" >My Account</a>
        </li>
        <li class="navbar_item">
           <form  id="form">
          <input type="text" placeholder="Search" id="search" class="search">
         </form>
        </li>
      </ul>
  </div>
</nav>
  <!-- Selects the genre -->
  <div class="select" id="select">
  <section class="characters">
    <h2>Select the genres:</h2>
    <input id="Action" type="checkbox"><label for="Action">Action</label>
    <input id="Adventure" type="checkbox"><label for="Adventure">Adventure</label>
    <input id="Comed" type="checkbox"><label for="Comed">Comedy</label>
    <input id="Crime" type="checkbox"><label for="Crime">Crime</label>
    <input id="Document" type="checkbox"><label for="Document">Documentary</label>
    <input id="Drama" type="checkbox"><label for="Drama">Drama</label>
    <input id="Fantas" type="checkbox"><label for="Fantas">Fantasy</label>
    <input id="Histor" type="checkbox"><label for="Histor">History</label>
  </section>
  <section class="order" id="sort">
    <h2>Sort By:</h2>
    <!-- <input type="radio" id="popularity.desc" name="option">
    <label for="popularity.desc">Most watched</label>
    <input type="radio" id="popularity.asc" name="option">
    <label for="popularity.asc">Least watched</label>
    <input type="radio" id="option3" name="option">
    <label for="option3">Highest rated</label>
    <input type="radio" id="option4" name="option">
    <label for="option4">Lowest rated</label>
    <input type="radio" id="option5" name="option"> -->
    <label for="option5">Newest</label>
    <input type="radio" id="option6" name="option">
    <label for="option6">Oldest</label>
    <input type="radio" id="option7" name="option">
    <label for="option7"> Title(A-Z)</label>
    <input type="radio" id="option8" name="option">
    <label for="option8"> Title(Z-A)</label>
  </section>
  <section class="order" id="platform">
    <h2>Type of show:</h2>
    <input type="checkbox" id="Movie" name="tip">
    <label for="Movie">MOVIE</label>
    <input type="checkbox" id="TV Show" name="tip">
    <label for="TV Show">TV Show</label>
  </section>
  
  <section >
  <button class = "button" id = "search-btn">SEARCH</button>
  </section>
</div>

  <!-- Movies & TV Shows Section -->
  <div class="movies" id="shows">
    <div class="movies_section"></div>
  </div>

    <footer id="footer">
      <p>&copy; 2023 Movies Site</p>
    </footer>
    <script src="../static/JAVASCRIPT/mobile_animation.js"></script>
    <script src="../static/JAVASCRIPT/selection.js"></script>
  </body>
</html>
