* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  /*Positioned based on the user's scroll position*/
  position: sticky;
  top: 0;
  /*Ca sa nu mai apara butoanele si search-ul din navbar pe mobil*/
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  transform: translateX(-10%); /*ca sa nu se bage peste toggle lines pe telefon*/
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  background-size: 100%;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  transition: all 0.3s ease;
}

.navbar_toggle:hover{
  cursor: pointer;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid rgb(109, 62, 147);
  border-radius: 50px;
  font-size: 1rem;
  color:#fff;
}

.search:focus{
  outline:0;
  background-color: rgb(128, 121, 121);
}

.search::placeholder{
  color: rgb(109, 62, 147);
}

@media screen and (max-width: 960px) {

html, body {
  overflow-x: hidden;
}

  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;

  }

  .navbar_menu {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 70vh;
    font-size: 1.6rem;
  }

  #navbar_logo {
    padding-left: 35px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    display: block;
  }
  
  /*Ca sa se roteasca barele de la meniu intr-un x*/
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


.home {
  width: 100%;
  background: url("https://wallpaperset.com/w/full/0/d/1/366288.jpg") no-repeat center fixed;
  padding: 200px;
  background-size:cover; /* Resize the background image to cover the entire container */
}

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  text-align: center;
  padding: 30px; 
}

.home_heading {
  font-size: 5rem;
  margin-bottom: 25px;
  color: #fff;
}


/*Adauga liniuta in jos cand dai pe home/movies/tv shows de sus */
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

.button {
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 16px;
  color:rgb(255, 255, 255);
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: baseline;
  width: auto;
  margin-top: 20px ;
  margin-right: 20px;
  margin-bottom: 20px;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: rgb(255, 255, 255) 0 4px 12px;
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
}

/*Ca sa scoata underline ul de la buton mostenit de la "a" tag + override la culoare in loc de cea specifica linkurilor am pus alb */
a, a:link, a:visited, a:focus, a:hover, a:active{
  color:rgb(255, 255, 255);
  text-decoration:none;
}


/* movies Section */
.movies, .tv-shows {
  background: #131313;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5rem;
}

.movies h1, .tv-shows h1 {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.movies_section, .tv-shows_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.movies_card {
  margin: 1rem;
  height: 425px;
  width: 300px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover; 
  position:relative;
  overflow: hidden; /*ca sa aiba overview ul ascuns pana dai hover */
  transition: 0.5s ease-in;
  
}

.overview h2, .overview h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.5px;
  font-size: 1.2rem;

}

.overview span{
  background-color: rgb(0, 0, 0);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.overview{
  position:absolute;
  left:0;
  right:0;
  bottom: 0;
  background-color: #464141e9;
  padding: 1rem;
  max-height: 100%;
  transform:translateY(101%);
  transition:transform 0.5s ease-in;
}

.overview p {
  margin-top: 1.5rem;
}

/*ca sa centrez buton*/
.movies_btn, .tv-shows_btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.movies_card button, .tv-shows_card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.movies_card button:hover, .tv-shows_card button:hover {
  cursor: pointer;
}

.movies_card:hover, .tv-shows_card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.movies_card:hover .overview{
  transform:translateY(0)
}

.tv-shows_card:hover .overview{
  transform:translateY(0)
}

.tv-shows_card {
  margin: 1rem;
  height: 425px;
  width: 300px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-size: cover; 
  position:relative;
  overflow: hidden;
  transition: 0.5s ease-in;
}


@media screen and (max-width: 1300px) {

  .movies_section, .tv-shows_section{
    width:100%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .movies_card, .tv-shows_card {
    max-width: 17rem;
  }
}

@media screen and (max-width: 768px) {

  .home_container h1, .home_container h2{
    font-size: 2rem;
    width: 28rem;
    max-width: 100%;
  }

  .movies_section,.tv-shows_section {
    grid-template-columns: 1fr;
    width:100%;
    justify-content: center;
    align-items: center;
  }
}

  .select{
    color: #fff;
    background-color: #131313;
  }

  .select h2 {
    margin: 0 0 8px 8px;
    font-size: inherit;
    transform: translateY(43%);
    margin-right: 20px;
  }
  
  section {
    margin-left:15%;
    padding: 2px;
    overflow: hidden;
    background-color: #131313;
    display: flex;
  }
  
  section input {
    position: absolute;
    left: -9999px;
  } 

  section label {
    float: left;
    margin: 8px;
    padding: 16px;
    border-radius: 30px;
    border: solid 2px rgba(255, 255, 255, .4);
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .1s;
  }
  
  section label::before {
    display: inline;
  }
  
  section input:checked + label {
    border: solid 2px rgb(132, 0, 255);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px #524d4d;
  }

  @media screen and (max-width: 960px) {
    .select{
      float:left;
    }
    section {
      flex-direction: row;
      flex-wrap: wrap;
      float:left;
    }
  
  }

  footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
  }

  